* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: poppins;
}

html,body {
  width: 100%;
  height: 100%;
}

body {
  padding: 4rem 6rem;
}


h1 {
  font-size: 60px;
  text-align: center;
  color: rgb(30, 21, 83);
  margin-top: 5rem;;
}



h2 {
  font-size: 48px;
  padding-top: 2rem;
  text-align: center;
}

p {
  font-size: 36px;
  padding: 2rem;
}


header{
  display: inline-block;
  padding: 50px;
  margin: 10px;
  font-size: 24px;
  text-align: center;
}
  

nav {
display: inline-block;
height: 72px;
}



.inline-block {
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
  }
 
  
  ul {
    width: 50%
    margin-left: auto;
  }
  
  
  li {
    width: 150px;
    margin: 30px;
    text-align: center;
    font-size: 36px;;
  }
  



.heroImg {
  padding: 10%;
  height: 100%;
  margin-left: 0%;
  background-image: url(/images/pix.png);
  background-size: cover;
  background-repeat: no-repeat;
}


.aboutMe {
  float: left;
  font-size: 2rem;
  padding-top: 5vh;
  margin-top: 10rem;
}



div > p {
  padding: 20px;
  width: 40%;
  margin: 2vh;
  margin-left: 0;
  background-image: linear-gradient(to right, white, rgb(236, 243, 236))
}




button {
  margin: 25px;
  width: 20rem;
  height: 5rem;
  font-size: x-large;
  font-weight: 700;
  border-radius: 10px;
  color: white;
  background-color:  #725b34;
}



button:hover {
  box-shadow: 0 2px 56px rgba(0,0,0,0.24);
  transform: scale(1.2);
}


.mySkills {
  height: 40%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;;
}



section {
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}


.cardSkill {
  margin: 1%;
  width: 400px;
  height: 560px;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}


body { background: @bg;}
a { color: white; text-decoration: none; }


.arrow {
  text-align: center;
  margin: 8% 0;
}


.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.thumbnailA {
  background-image: url("/images/research\ copy.jpg");
   background-size: cover;
}

.thumbnailA, .body {
  height: 50%;
}


.thumbnailB {
  background-image: url("/images/prototype.png");
   background-size: cover;
}

.thumbnailB, .body {
  height: 50%;
}



.thumbnailC {
  background-image: url("/images/PM.png");
   background-size: cover;
}



.thumbnailC, .body {
  height: 50%;
}



/*my work section */

.grid-parent {
  height: 60%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 8rem;
  padding: 3rem;
  margin-bottom: 3rem;;
}

.grid-child1 {
  background-image: url("/images/ATO.png");
  grid-column: span 5;
  margin: 5%;
  background-repeat: no-repeat;
}


.grid-child2 {
  background-image: url("/images/SL.png");
  grid-column: span 5;
  background-repeat: no-repeat;
  margin-left: 10rem;
  margin-top: 5rem;
}


.large {
  grid-column: span 7;
  color: white;
  padding: 15%;
  text-align: center;
  background-color: cadetblue;
  box-shadow: 0 1px 3px rgba(0,0,0,0.32);
  transition: 300ms;
}


.large:hover {
  box-shadow: 0 2px 56px rgba(0,0,0,0.24);
  transform: scale(0.9);
}



footer {
  display: inline-block;
  background-color: #373738;
  text-align: center;
  font-size: 36px;
  height: 50px;
  color: white;
  height: 5rem;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  height: 9px;
  display: inline-block;
  padding: 100px;
  margin: 1% 0;
}


footer > li {
  text-align: center;
}


@media only screen and (max-width: 600px) {
  .mySkills {
    flex-direction: column;
    flex-wrap: wrap;
   }

.cardSkill {
  min-width: 80%;
  flex-direction: column;
  flex-wrap: wrap;
} 


/* my Work section*/

.grid-parent {
  grid-template-columns: 1fr;
  grid-row-gap: 4rem;
  padding: 2rem;
}
  
.col-md-6 {
  grid-template-columns: span 12;
}


.grid-child1 {
  background-image: url("/images/ATO.png");
  grid-column: span 12;
}


.grid-child2 {
  background-image: url("/images/SL.png");
  grid-column: span 12;
}
}



